* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {


  --bg-color:  #fff;

  --primary-color: #323238;
  --secondary-color: #fff;

  --bg-button-primary-color: #E1E1E6;
  --bg-button-secondaty-color: #02799D;


  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);

  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 11.2rem;

  min-height: 100vh;
  margin-top: -15rem;
}

.panelTimer{
  max-width: 31.2rem;
}

.panelSounds {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.2rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

#timer {
  display: flex;
  font-size: 12.6rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4rem;

}

.bgButtonSoundsClicked {
  fill: #02799D;
}

.colorButtonSoundsClicked {
  fill: #fff;
}

header {
  align-self: end;
  justify-self: end;
  padding: 6rem 6rem 0 0;

  z-index: 0;
}

.panelSounds button {
  position: relative;
}

.panelSounds button input{
  width: 10rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2rem;
}

